<div id="admin-show">

	<div class="container" id="pending">
	<%= @pickups.inspect %>
	<!-- iterate with each then make LI for each pickup -->
		<li>User 1</li>
		<li>User 2</li>
		<li>User 3</li>

	</div>

	<div class="container" id="completed">
		<li>User 1 30$</li>
		<li>User 2 20$</li>

	</div>

</div>