<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form>
        First name: <input type="text"><br>
        Last name: <input type="text"><br>
        Address: <input type="text"><br>
        Address: <input type="text"><br>
        Cellphone Number: <input type="text"><br>
        Debit Card Number: <input type="text"><br>
        <select>
          <option value="business">Business</option>
          <option value="home">Home</option>
          <option value="apartment">Apartment/Condo/Townhome</option>
        </select>
        <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>