<!DOCTYPE html>
<html>
<head>
	<title>Trashio Mockup</title>

	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

	<header>
		<nav>
		  <a href="">Home</a> 
		  <a href="">Account</a> 
		  <a href="">Edit</a> 
		  <a href="">login/logout</a>
		</nav>
	</header>

	<div class="container row" class="main-block" >
		<h1>TrVshio</h1>
		<h3>"random recycling fact generator"</h3>
		<br/>
		<br/>
		<br/>
		<button>Sign Up</button>

	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="sub-blocks row">
		<div id="about" class="col-md-4">
			<strong>About</strong>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div id="benefits" class="col-md-4">
			<strong>Benefits</strong>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div id="charities" class="col-md-4">
			<strong>This week's Charities</strong>
			<span id="charity-links">
				<li>Charity 1</li>
				<li>Charity 2</li>
				<li>Charity 3</li>
			</span>
		</div>

		<ul>Proof of Donations</ul>
	</div>



</body>
</html>